ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(73, 72, 72);
    text-align: justify;
    justify-content: space-evenly;

  ul a:hover {
      background-color: #111;

li {
    float: left;
    text-align: justify;
    a {
    display: block;
    font-size: 20px;
    text-align: justify;
    padding: 14px 16px;
    text-decoration: none;
    justify-content: space-evenly;
  }
} 
}
  text {
    color: teal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 60px;
    justify-content: space-evenly;
  }
  
  h5 {
    color: #111;
   }
  }

  $redes: (
    facebook: teal,
    instagram: teal

  );
  @each $teal, $color in $redes {
    .btn--#{$teal}{
      background-color: $color;
    }
  }

  .button-basic  {
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button-reset  {
    @extend .button-basic;
    background-color: rgb(73, 72, 72);
    color: white
  }
  
  .button-submit  {
    @extend .button-basic;
    background-color: rgb(28, 143, 127);
    color: white;
  }

  @mixin sobre-nosotros {
    color: white;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid teal;
  }
  .parrafo {
    @include sobre-nosotros;
  }
  .parrafo {
    @include sobre-nosotros;
    background-color: rgb(73, 72, 72);
  }

